@page
@model IndexModel
@{
    ViewData["Title"] = "Home page" ;
}

<br>
<div class="text-center">
    <h1 class="display-4">Bienvenidos a nuestra web RapiMotos</h1>
    <img SRC="./img/gif.gif"
    <br>
    <p>MANTENIMIENTO DE MOTOS<br>(Servicio a domicilio)</a>.</p>
</div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"data-bs-interval="2000">
            <img src="img/moto.jpg" class="d-block w-100" alt="Slide1">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="img/mantenimiento.jpg" class="d-block w-100" alt="Slide2">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="img/mecanicos.webp" class="d-block w-100" alt="Slide3">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="./img/Taller-de-motos.jpg" class="d-block w-100" alt="Slide4">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <section id="seccion-Administrador" class="border-bottom border-secondary border-2">
        <div id="bg-contactos">
            <svg xmln="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"></svg><path fill="#1b2a4e" fill-opacity="1"d="M0,32L120,42.7C240,53,480.75,720.74.7C96"></path>
        </div>
      
     </di>